body{
    min-height: 100vh;
    text-rendering: optimizeSpeed;
    line-height: 1.5;
    font-size: 0.8125rem;
    background-color: var(--white);
    font-family: sans-serif;
    max-width: 100%;
    width:100%;
    overflow-x: hidden;
}

a{
text-decoration: none;
color:inherit;
}

.profile{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 25px 0px;

}

h4{
    text-align: center;
}
h3{
    color:blue;
    font-family: sans-serif;
    font-size: 25px;
    align-items: center;
}
.grid-item{
    margin: 0.35rem;
    padding: 1rem 0.75rem;
    line-height: 1.2;
}


.grid1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.grid2 p
{
    padding: 1rem;
    line-height: 1.5;
    letter-spacing: 0.05rem;
    font-size: 1rem;
}

.grid3 p{
    padding: 1rem;
    line-height: 1.5;
    letter-spacing: 0.05rem;
    font-size: 1rem;
}

.grid-item ul{
    text-align:left;
    list-style-type: none;
    padding:0.25rem 1rem;
}

.grid-item ul li{
    padding: 1rem;
    line-height: 1.5;
    letter-spacing: 0.05rem;
    font-size: 1rem;
    text-align: center;
}



img {
    border-radius: 50%;
    height: 180px;
    align-items: center;
}

input,button,textarea{
    font:inherit;
}


.social-icon{
    color:#aaaaaa;
    transition: color 0.2;
    text-decoration: none;
    margin: 0 10px;
}

.social-icon:hover {
    color:#333333;
}
 
.contact{
    max-width: 350px;
    width: 100%;
    margin: 0 20px;
}
.input_field{
    width: 30em;
    margin-bottom: 20px;
    padding: 7px;
    border: 1px solid #333;
}


.contact{
    background: #eee;
    padding:2rem 1rem;
    display:flex;
    align-items: center;
    justify-content: space-around;
    border-radius:10px;
    width:90%;
    max-width: 1000px;
}

.contact img{
    max-width:600px;
    max-height: 400px;
}

.contact form{
    display: flex;
    flex-direction: column;
}

form input, form textarea, form button{
    padding:5px 10px;
    outline: none;
    border: none;
    margin:.5rem 0;
    border-radius:10px;
    color:#41295a;
    font-size:15px;
}

form input, form button{
    height:40px;
}

form button{
    background: #4129ff;
    color:#fff;
    font-size:16px;
    font-weight:bolder;
    cursor: pointer;
    margin-top:1rem;
}

@media screen and (max-width: 940px) {
    .contact img{
        display:none;
    }
}

@media screen and (min-width: 700px) {
        .container {
          max-width: 900px;
        }
      body{
        background-color: #fff;

      }
      h3{
          text-align: center;
          
      }

      p{
          text-align: center;
      }

      .grid-item ul li{
          text-align: center;
      }

    }

    
.footer{
    padding: 40px 0;
    background-color: #fff;
}
.footer .social{
    text-align:center;
    padding-bottom: 25px;
    color: #4b4c4d;
}

.footer .social a{
    font-size: 24px;
    color:inherit;
    border:1px solid #ccc;
    width:40px;
    height:40px;
    line-height: 30px;
    display: inline-block;
    text-align: center;
    border-radius: 50%;
    margin: 0 8px;
    opacity: 0.75;

}

.footer .social a:hover{
    opacity: 0.9;
}
